*{

	font-family: 'Nunito', sans-serif;
}


#centerpiece{
	text-align: center;
	vertical-align: center;
 	height: 120px;
 	background: grey;
 	color: white;
}

.moreinfo{

	border: 2px solid grey;
	width: 100%;
	margin: 0;
	padding: 10px;
}

#center2{
	background: black;
	color: white;
	text-align: center;
	height: 150px;
	vertical-align: middle;
}

.verticalalign{
	vertical-align: middle;
}